<div *ngIf="responseUserId !== null">
  <div><span>User with ID </span>
    <app-copy-text [text]="responseUserId"></app-copy-text>
    <span> successfully created!</span></div>
</div>
<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">
    <label for="username">Username</label>
    <input id="username" type="text" formControlName="username">
  </div>
  <button class="mat-primary" type="submit">Add</button>
</form>
