form {
  display: flex;
  flex-flow: column nowrap;
  width: 60vw;
  justify-content: space-between;
}

form > div {
  display: flex;
  flex-flow: row nowrap;
  margin: 1em;
  justify-content: space-around;
}

form > button[type="submit"] {
  max-width: 15vw;
  align-self: center;
}
