<td><a [routerLink]="['/users', user.id]">{{user.id}}</a></td>
<td><span>{{user.name}}</span></td>
<td>{{user.username}}</td>
<td><a mat-flat-button [routerLink]="['/users', user.id, 'tokens']">Tokens</a>
</td>
<td>
  <button *ngIf="!addingToken" (click)="setAddingToken()"
          matTooltip="Add a token" mat-raised-button color="primary"
  >
    <mat-icon>add</mat-icon>
  </button>
  <form *ngIf="addingToken" [formGroup]="scopeForm"
        (ngSubmit)="addToken(user.id, scopeForm.value.scope)">
    <mat-form-field>
      <!--suppress HtmlFormInputWithoutLabel -->
      <input matInput (blur)="cancelAddingToken()"
             autofocus id="scope" type="text" formControlName="scope">
    </mat-form-field>
    <button hidden type="submit">Add</button>
  </form>
</td>
<td>
  <button mat-raised-button (click)="deleteUser(user.id)" color="warn">
    <mat-icon>delete</mat-icon>
  </button>
</td>
