<!--suppress HtmlFormInputWithoutLabel -->
<td>
  <a [routerLink]="['/users', user.id]">{{user.id}}</a>
</td>
<td>{{user.name}}</td>
<td>{{user.username}}</td>
<td>
  <a mat-flat-button [routerLink]="['/users', user.id, 'tokens']">Tokens</a>
</td>
<td>
  <button *ngIf="!addingToken" matTooltip="Add a token" mat-raised-button color="primary"
          (click)="setAddingToken()">
    <mat-icon>add</mat-icon>
  </button>
  <form *ngIf="addingToken" [formGroup]="scopeForm"
        (ngSubmit)="addToken(user.id)">
    <mat-form-field>
      <mat-label>Scope</mat-label>
      <input matInput autofocus id="scope" name="scope" class="form-control" type="text" required
             formControlName="scope"
             [pattern]="scopePattern"
             (blur)="cancelAddingToken()">
      <div class="mat-error mat-small" *ngIf="!scopeForm.valid">Scope is required and cannot contain
        spaces
      </div>
    </mat-form-field>
    <button hidden type="submit">Add</button>
  </form>
</td>
<td>
  <button mat-raised-button color="warn" (click)="deleteUser(user.id)">
    <mat-icon>delete</mat-icon>
  </button>
</td>
