<td>
  <button (click)="this.router.navigate(['/users/new'])" class="mat-button mat-primary">+ User</button>
</td>
<table *ngIf="(usersService.users | async) as users">
  <caption>Users</caption>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Username</th>
    <th>Tokens</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td><a [routerLink]="['/users', user.id]">{{user.id}}</a></td>
    <td>{{user.name}}</td>
    <td>{{user.username}}</td>
    <td><a [routerLink]="['/users', user.id, 'tokens']">Tokens</a></td>
    <td>
      <button class="mat-button mat-primary">+ Token</button>
    </td>
    <td>
      <button class="mat-button mat-accent">x</button>
    </td>
  </tr>
  </tbody>
</table>
