div.spacer {
  flex-grow: 1;
}

#main-navbar {
  display: flex;
  justify-content: space-between;
}

#route-list {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

#route-list li {
  list-style: none;
}

#route-list li a {
  text-decoration: none;
}
