<table *ngIf="(tokensService.tokens | async) as tokens">
  <caption>Tokens</caption>
  <thead>
  <tr>
    <th>Id</th>
    <th>Scope</th>
    <th>UserId</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let token of tokens">
    <td>{{token.id}}</td>
    <td>{{token.scope}}</td>
    <td><a [routerLink]="['/users', token.userId]">{{token.userId}}</a></td>
    <td>
      <button (click)="deleteToken(token.id)" class="mat-button mat-accent">x</button>
    </td>
  </tr>
  </tbody>
</table>
