<div role="main">
  <table *ngIf="usersService.tokens | async as tokens">
    <caption>
      Tokens
    </caption>
    <thead>
    <tr>
      <th>Id</th>
      <th>Scope</th>
      <th>User</th>
      <th>Start</th>
      <th>End</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let token of tokens">
      <td>
        <app-copy-text [text]="token.id"></app-copy-text>
      </td>
      <td>{{ token.scope }}</td>
      <td matTooltip="{{ token.userId }}"><a [routerLink]="['/users', token.userId]">Link</a></td>
      <td matTooltip="{{ token.start | date: 'yyyy-MM-dd hh:mm:ss Z' }}">
        {{ token.start | date: "dd MMM, yyyy hh:mm" }}
      </td>
      <td matTooltip="{{ token.end | date: 'yyyy-MM-dd hh:mm:ss Z' }}">
        {{ token.end | date: "dd MMM, yyyy hh:mm" }}
      </td>
      <td>
        <button (click)="deleteToken(token.id)" class="mat-button mat-accent">x</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
